<p id="notice"><%= notice %></p>

<h1>Kosei Grades</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Lower limit</th>
      <th>Base monthly salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kosei_grades.each do |kosei_grade| %>
      <tr>
        <td><%= kosei_grade.grade %></td>
        <td><%= kosei_grade.lower_limit %></td>
        <td><%= kosei_grade.base_monthly_salary %></td>
        <td><%# link_to 'Show', kosei_grade %></td>
        <td><%# link_to 'Edit', edit_kosei_grade_path(kosei_grade) %></td>
        <td><%# link_to 'Destroy', kosei_grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Kosei Grade', new_kosei_grade_path %>
